:root{
    --grey:#B4BEC9;
    --turquoise:#159A9C;
    --dk-blue:#002333;
    --lt-green:#DEEFE7;
    --white:#FFFFFF;
    --fonts:"Alice", "Domine", "serif"
}

body{
    font-family: var(--fonts);
    font-size: 1rem;
    background-color: var(--grey);
    color: var(--dk-blue);
    margin: 0 auto;
    max-width: 1280px;
    text-align: center;
}

h1{
    font: var("Domine");
    font-weight: bold;
}

h2{
    font: var("Domine");
    font-weight: bold;
}

h3{
    font: var("Domine");
    font-weight: bold; 
}

